<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Therassistant2"
        tools:targetApi="31">


        <activity android:name=".UpcomingSessionsActivity" android:exported="true" />
        <activity android:name=".EditTherapistActivity" android:exported="true" />
        <activity android:name=".ChatListActivity" android:exported="true" />
        <activity android:name=".AddEditClientActivity" android:exported="true" />
        <activity android:name=".ViewClientActivity" android:exported="true" />
        <activity android:name=".ClientProfileActivity" android:exported="true" />
        <activity android:name=".ClientActivity" android:exported="true" />
        <activity android:name=".AddSession" android:exported="true" />
        <activity android:name=".TherapistHome" android:exported="true" />
        <activity android:name=".Report" android:exported="true" />
        <activity android:name=".Aboutus" android:exported="true" />
        <activity android:name=".Editinfo" android:exported="true" />
        <activity android:name=".TherapistSignup" android:exported="true" />
        <activity android:name=".TherapistProfile" android:exported="true" />
        <activity android:name=".settings" android:exported="true" />
        <activity android:name=".messaging" android:exported="true" />
        <activity android:name=".calendar" android:exported="true" />
        <activity android:name=".therapists" android:exported="true" />
        <activity android:name=".category" android:exported="true" />
        <activity android:name=".menu" android:exported="true" />
        <activity android:name=".Signup" android:exported="true" />


        <activity android:name=".MainActivity" android:exported="true"/>

        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>